footer{
    background-color: rgba(0, 0, 0, 0.3);
}

div hr{
    border-top: 3px solid;
    opacity: 1;    
}

#linkedin:hover{
    color: rgb(1, 128, 255);
}

#ft_h2{
    font-size: 16px !important;
    text-align: center;
    color: rgb(255, 255, 255);

}
footer h4{
    margin: 10px;
    font-size: 30px !important;
    text-align: center;
    color: rgb(255, 255, 255);

}



.row .box{
    text-align: center;

}

#logo-footer{
    max-width: 20%;
    padding: 20px;
    justify-content: center;
    top: 20px;
    position: relative;
    z-index:1 ;
    }


@media (orientation : portrait) {

    #logo-footer{
        width: 80px;
        height: 100px;
        margin-top: 20px;
    }

        
    
    
}

