header{
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-item a{
    color: white;
}

.nav-item a:hover{
    color: black;
    background-color: white;
    border-radius: 15%;
}


a #site-icon{
    display: flex !important; 
    max-width: 100% !important;
    margin: 2px;
    justify-content: center;
    position: relative;
    z-index:1 ;
}

