* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
::placeholder { color: white !important; }


.slide{
    background-color: rgba(255, 255, 255, 0.6) !important;
    border-radius: 30px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    text-align: center; 
    
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

form{
    margin: 10px;
    display:flex !important;
    flex-direction: column !important; /* para poner los div en vertical*/
    margin: 10px;
}

#sent{
    background-color:#F4D03F !important;
    color: rgb(0, 0, 0) !important ;

}
input {
    align-items: center;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.6);
    color: white !important;
    margin: 10px !important;
}


form .opcSecc{
    display: flex;
    flex-direction: inherit;
    border-color: white;

}


@media (orientation:landscape) {

    body{
        min-height:100vh;
        display:flex;
        flex-direction:column;
    }
    Footer {margin-top:auto;}


    video{
        min-height: 100vh;

    }

}

@media (orientation : portrait) {

    body{
        min-height:100vh;
        display:flex;
        flex-direction:column;
    }
    Footer {margin-top:auto;}

    video{
        min-height: 100vh;

    }

        
    
    
}




